.form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
    margin-bottom: 20px;
}

.text {
border-radius: 4px;
width: 272px;
height: 22px;
background: #fff;
font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
line-height: 150%;
letter-spacing: 0.04em;
color: #808080;
padding: 8px 118px 8px 16px;
}

.button-search {
border: none;
border-radius: 8px;
padding: 8px 16px;
width: 91px;
display: flex;
justify-content: center;
align-items: center;
height: 40px;
font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.04em;
color: #fff;
background: #4e75ff;
}
.button-search:hover {
    background-color: #0c710c;
}
.button-search:active {
    transform: translateY(4px);
}


.gallery {
  display: flex;
  flex-wrap: wrap; 
  gap: 16px;         
  list-style: none;
  padding: 0;
  margin: 0;
}

.gallery li {
  flex: 0 0 calc(33.333% - 16px); 
}

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  display: block;
  border-radius: 8px;
}

.gallery li {
  flex: 0 0 calc(25% - 16px);
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}


.gallery img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  display: block;
}


/* Картка */
.info {
  padding: 12px;
  background: #f7f7f7;
  display: flex;
  justify-content: space-between;
}

.info-item {
  flex: 1;
  text-align: center;
}

.info-item .label {
  display: block;
  font-size: 13px;
  color: #555;
  margin-bottom: 6px;
}

.info-item .value {
  display: block;
  font-size: 14px;
  font-weight: 600;
  color: #222;
}

.buttonload.is-hidden {
  display: none;
}


.buttonload {
justify-content: center;
transition: 0.2s background;
display: flex;
align-items: center;
border-radius: 8px;
padding: 8px 16px;
width: 125px;
height: 40px;
border-radius: 8px;
margin: 16px;
font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.04em;
color: #fff;
background: #4e75ff;
border: none;
}
.buttonload:hover {
    background-color: #0c710c;
}
.buttonload:active {
    transform: translateY(4px);
}

.container-btnload {
  display: flex;
  justify-content: center;
  align-items: center;
}